<div>
  <div class="section">
    <div>
      <form method="post" action="/access-wallet" enctype="multipart/form-data">
        <div>upload your Keystore</div>
        <input type="file" name="keystore" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" value="submit" />
      </form>
    </div>
  </div>

</div>